<div class="posttext">
<h3 class="t3">What is PCoM?</h3>
<p>Protein Co-Migration Database for photosynthetic organisms (PCoM) is a powerful tool for predicting the protein complexes in photosynthetic organisms containing your protein of interest. PCoM stores the data obtained by LC-MS/MS analysis of the protein complexes which were separated by BN-PAGE and extracted from BN-PAGE gel slices.</p>
<br>
<p>For further information, take a look at <%=link_to("the overview page",{ :controller => "proteins",:action => "overview" }) %>.</p>
<br>
<a href="/assets/top0.png" rel="lightbox">
<%= image_tag "top0.png",:width => '560' %>
</a>
<h3 class="t3">Which proteins can be searched ?</h3>

<p>At present, PCoM stores the following data for the protein complexes.</p>
<br>
<ul>
<li class="itm">Arabidopsis thylakoids
<li class="itm">Chlamydomonas whole cells
<li class="itm">Synechocystis PCC6803 whole cells
</ul> 
<br>
<p>Furthermore, we have plans to analyze the other organelles or tissues in Arabidopsis, and the other photosynthetic organisms. In the near future, we will add such data to this database.</p>
<br>
<h3 class="t3">References</h3>
<p>If you will find that this database is useful, please cite the following publications;</p>
<br>
<table  style="margin-left:15px">
<tr><td>
<%= image_tag "drawing.png",:width => "40" %>
</td><td>
<p><b>『PCoM-DB: Protein co-migaration database for comprehensive identification of novel protein complexes in photosynthetic organisms.』 (submitted)</b></p>
</td></tr>
</table>
<br>

<h3 class="t3">Contact us</h3>
<p><a href="mailto:Takabayashi@pop.lowtem.hokudai.ac.jp"><%= image_tag "16.png",:width => "40" %>Takabayashi@pop.lowtem.hokudai.ac.jp</a></p>
<br>
</div>



